#modal-team.modal.hide.fade
  .modal-header
    %button.close(data-dismiss="modal" aria-hidden="true") &times;
    %h3 {{modalTeam.title}}
  .modal-body
    %form#team-form.form-horizontal(ng-submit="modalTeam.save()")
      .control-group.first.last
        %label.control-label(for="team-name") Name
        .controls
          %input(type="text"
                 id="team-name"
                 placeholder="My Team"
                 ng-model="modalTeam.name"
                 required)
  .modal-footer
    %a.btn(href data-dismiss="modal") Close
    %input.btn.btn-primary(type="submit" form="team-form" value="{{modalTeam.actionLabel}}")
