#modal-team.modal.hide.fade
  .modal-header
    %button.close(data-dismiss="modal" aria-hidden="true") &times;
    %h3 {{modalTeam.title}}
  .modal-body
    %form.form-horizontal(ng-submit="modalTeam.save()")
      .control-group
        %label.control-label(for="team-name") Name
        .controls
          %input(type="text" id="team-name" placeholder="My Team" ng-model="modalTeam.name")
  .modal-footer
    %a.btn(href data-dismiss="modal") Close
    %a.btn.btn-primary(href ng-click="modalTeam.submit(event)") {{modalTeam.actionLabel}}
