#modal-confirm.modal.hide.fade
  .modal-header
    %button.close(data-dismiss="modal" aria-hidden="true") &times;
    %h3 {{modalConfirm.labels.title}}
  .modal-body
    %form#confirm-form
      %p
        Are you sure {{modalConfirm.labels.question}}?
  .modal-footer
    %a.btn(href data-dismiss="modal") Cancel
    %input.btn.btn-primary(type="submit" form="confirm-form" value="{{modalConfirm.labels.action}}")
