%script(type="text/ng-template" id="overview.html")
  %h3 Overview
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Resource
        %th Instances
    %tbody
      %tr(ng-hide="resources.length")
        %td(colspan="2") No resources yet.
      %tr(ng-repeat="resource in resources")
        %td {{resource.name}}
        %td {{resource.count}}
