%script(type="text/ng-template" id="teams.html")
  %h3.with-side-button Team
  %a.btn.btn-small.btn-success.side-button(href ng-click="addTeam()")
    %i.icon-plus.icon-white
    Add a team
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Name
        %th Uid
        %th &nbsp;
    %tbody
      %tr(ng-hide="teams.length")
        %td(colspan="3")No teams yet.
      %tr(ng-repeat="team in teams")
        %td {{team.name}}
        %td {{team.uid}}
        %td
          %a(href ng-click="editTeam(team)") Edit
          |
          %a(href ng-click="deleteTeam(team)") Delete

%script(type="text/ng-template" id="add-edit-team.html")
  .modal-header
    %button.close(data-dismiss="modal" aria-hidden="true") &times;
    %h3 {{labels.title}}
  .modal-body
  %form#team-form.form-horizontal(ng-submit="action('save', models.team)")
    .control-group.first.last
      %label.control-label(for="team-name") Name
      .controls
        %input(type="text"
               id="team-name"
               placeholder="My Team"
               ng-model="models.team.name"
               required)
  .modal-footer
    %a.btn(href ng-click="cancel()") Close
    %input.btn.btn-primary(type="submit" form="team-form" value="{{labels.action}}")
