%script(type="text/ng-template" id="teams.html")
  %h3.with-side-button Team
  %a.btn.btn-small.btn-success.side-button(href ng-click="addTeam()")
    %i.icon-plus.icon-white
    Add a team
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Uid
        %th Name
        %th &nbsp;
    %tbody
      %tr(ng-hide="teams.length")
        %td(colspan="3")No teams yet.
      %tr(ng-repeat="team in teams")
        %td {{team.uid}}
        %td {{team.name}}
        %td
          %a(href ng-click="editTeam(team)") Edit
          |
          %a(href ng-click="deleteTeam(team)") Delete

  = render "modal_team"
  = render "modal_confirm"
