%script(type="text/ng-template" id="teammates.html")
  %h3.with-side-button Teammate
  %a.btn.btn-small.btn-success.side-button(href ng-click="addTeammate()")
    %i.icon-plus.icon-white
    Add a teammate
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Team
        %th Name
        %th Uid
        %th &nbsp;
    %tbody
      %tr(ng-hide="teammates.length")
        %td(colspan="4")No teammates yet.
      %tr(ng-repeat="teammate in teammates")
        %td {{teammate.team_name}}
        %td {{teammate.name}}
        %td {{teammate.uid}}
        %td
          %a(href ng-click="editTeammate(teammate)") Edit
          |
          %a(href ng-click="deleteTeammate(teammate)") Delete

%script(type="text/ng-template" id="add-edit-teammate.html")
  .modal-header
    %button.close(data-dismiss="modal" aria-hidden="true") &times;
    %h3 {{labels.title}}
  .modal-body
  %form#teammate-form.form-horizontal(ng-submit="action('save', models.teammate)")
    .control-group.first
      %label.control-label(for="teammate-team") Team
      .controls
        %select#teammate-team(ng-model="models.teammate.team_uid"
                              ng-disabled="models.teammate")
          %option(ng-repeat="team in models.teams"
                  ng-selected="team.uid == models.teammate.team_uid"
                  value="{{team.uid}}") {{team.name}}
    .control-group.last
      %label.control-label(for="teammate-name") Name
      .controls
        %input(type="text"
               id="teammate-name"
               placeholder="My Teammate"
               ng-model="models.teammate.name"
               required)
  .modal-footer
    %a.btn(href ng-click="cancel()") Close
    %input.btn.btn-primary(type="submit"
                           form="teammate-form"
                           value="{{labels.action}}")
